@charset "UTF-8";

.btn{
	background-color: #9c80da;
	border-color: #ffffff;
	
}

.bg-primary{
	background-color: #9c80da !important;
}

.bg-light{
	background-color: #d0c3ef !important;
}

.navbar{
	background-color: #9c80da;
}

.footer{
	background-color: #9c80da;
}

.nav-link{
	color: #ffffff !important;
}

.icon-link{
	color: #9c80da !important;
}
